<!-- <h1 class="bg-warning">Hello World {{title}}</h1> -->
<app-header (head)="getDataheader($event)" ></app-header>
<div>
  <router-outlet/>
</div>
<!-- <app-counter/> -->
<!-- Use ngFor to loop through the todos array and display each item -->
<!-- <div *ngFor="let todo of todos">
  <div>
    <strong>Task {{todo.id}}:</strong> {{todo.name}} - {{todo.role}}
  </div>
</div> -->

<!-- <div>
  <app-todoitems [todos]="todos" (childTod)="onChildDataRec($event)"></app-todoitems>
</div> -->
<!-- <div>

</div> -->